@font-face {
  font-family: "Bolts SF";
  src: url('bolts_sf.ttf');
}

header {
  background-color: #d84314;
  color: white;
  display: flex;
  justify-content: left;
  padding-left: 1em;
}

header a {
  text-decoration: none;
  color: white;
  font-family: "Bolts SF";
  letter-spacing: 0.3em;
  font-size: 24pt;
}

.App-intro {
  font-size: large;
}

#main-content {
  padding: 2em;
}