@font-face {
  font-family: "Bolts SF";
  src: url('bolts_sf.ttf');
}

@font-face {
  font-family: "Proxima Nova";
  src: url('proxima-nova.otf');
}


header {
  background-color: #d84314;
  color: white;
  display: flex;
  justify-content: left;
  padding-left: 1em;
}

header a {
  text-decoration: none;
  color: white;
  font-family: "Bolts SF";
  letter-spacing: 0.1em;
  font-size: 24pt;
  font-weight: 100;
}

.App-intro {
  font-size: large;
}

#main-container {
  padding: 2em;
}

#app-container {
  font-family: "Proxima Nova";
}

.selected {
  color: red;
}

.completed {
  text-decoration: line-through;
}
